.loader {
  animation: 2s linear 0s normal none infinite running spin;
  -webkit-animation: 2s linear 0s normal none infinite running spin;
  -ms-animation: 2s linear 0s normal none infinite running spin;
  border-color: #28b8dc transparent transparent;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  display: block;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 1001;
}
.loader:before {
  animation: 3s linear 0s normal none infinite running spin;
  -webkit-animation: 3s linear 0s normal none infinite running spin;
  -ms-animation: 3s linear 0s normal none infinite running spin;
  border-color: #28b8dc transparent transparent;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.loader:after {
  animation: 1.5s linear 0s normal none infinite running spin;
  -webkit-animation: 1.5s linear 0s normal none infinite running spin;
  -ms-animation: 1.5s linear 0s normal none infinite running spin;
  border-color: #28b8dc transparent transparent;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  bottom: 15px;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}
