<header class="entry-header">
  <div class="container">
    <div class="entry-header-wrapper clearfix">
      <div class="entry-header-left pull-left">
        <h1 class="entry-title" itemprop="name">
          {{ title }}
          <div class="listing-time" [ngClass]="{ closed: !is_open_or_available }">
            {{ open_or_available }}
          </div>
        </h1>
        <div class="job_listing">
          <div class="listing-tagline">
            {{ description }}
          </div>
          <div class="entry-header-right-top clearfix">
            <div class="pull-left">
              <div class="listing-location pull-left" *ngIf="address">
                <i class="flaticon-placeholder"></i>
                <a class="google_map_link" href="#" target="_blank">{{ address }}</a>
              </div>
              <div class="listing-phone pull-left" *ngIf="phone">
                <i class="flaticon-phone-call"></i>
                {{ phone }}
              </div>
            </div>
          </div>

          <div class="listing-tags">
            <!-- <div class="review-star">
                <span class="review-avg">4.5</span>
                <span class="highlight">6 Ratings</span> </div> -->
            <div class="listing-category">
              <a href="https://demoapus.com/findgo/listing-category/fitness/"
                ><i class="{{ type?.icon }}"></i>{{ type?.tag }}</a
              >
            </div>
          </div>
        </div>
        <div class="listing-review">
          <button
            mat-fab
            shareButton="facebook"
            [style.backgroundColor]="share.prop.facebook.color"
            style="color:white;"
          >
            <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
          </button>
          <button
            mat-fab
            shareButton="twitter"
            style="color:white;margin: 1%;"
            [style.backgroundColor]="share.prop.twitter.color"
          >
            <fa-icon [icon]="share.prop.twitter.icon" size="md"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
