<header class="entry-header">
  <div class="container">
    <div class="entry-header-wrapper clearfix">
      <div class="entry-header-left pull-left">
        <h1 class="entry-title" itemprop="name">
          {{ title }}
          <div class="listing-time closed">
            Closed
          </div>
        </h1>
        <div class="job_listing">
          <div class="listing-tagline">
            {{ description }}
          </div>
          <div class="listing-tags">
            <!-- <div class="review-star">
                <span class="review-avg">4.5</span>
                <span class="highlight">6 Ratings</span> </div> -->
            <div class="listing-category">
              <a href="https://demoapus.com/findgo/listing-category/fitness/"
                ><i class="flaticon-weightlifting"></i>{{ tag }}</a
              >
            </div>
            <div class="p-relative" *ngIf="expensive != 0">
              <div
                class="listing-price-range"
                data-placement="top"
                data-toggle="tooltip"
                title=""
                data-original-title="Moderate"
              >
                <span *ngFor="let dummy of ' '.repeat(expensive).split(''); let x = index">$</span>
              </div>
            </div>
            <div class="listing-review">
              <span class="review-avg food-tag" *ngFor="let tag of tags">{{ tag.tag }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="entry-header-right pull-right">
        <div class="entry-header-right-top clearfix">
          <div class="pull-right">
            <div class="listing-location pull-left" *ngIf="address">
              <i class="flaticon-placeholder"></i>
              <a
                class="google_map_link"
                href="http://maps.google.com/maps?q=9+Hop+Gardens%2C+London&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false"
                target="_blank"
                >{{ address }}</a
              >
            </div>
            <div class="listing-phone pull-left" *ngIf="phone">
              <i class="flaticon-phone-call"></i>
              {{ phone }}
            </div>
          </div>
        </div>

        <div class="action-detail">
          <div class="view-a-video">
            <!-- <a
              class="click-to-video btn action-button popup-video"
              target="_blank"
              href="https://www.youtube.com/watch?v=7e90gBu4pas"
            >
              <i class="fa fa-play ic-for-video" aria-hidden="true"></i> Watch Video
            </a> -->
          </div>
          <div class="write-a-review-btn">
            <a class="write-a-review btn action-button" href="#comment">
              <i class="flaticon-consulting-message"></i>Add Review
            </a>
          </div>
          <div class="add-to-bookmark-btn">
            <a
              href="#apus-bookmark-add"
              class="apus-bookmark-not-login btn-bookmark btn"
              data-id="236"
            >
              <i class="flaticon-like"></i>
              <span class="bookmark-text">Bookmark</span>
            </a>
          </div>
          <div class="sharing-popup">
            <a href="#" class="share-popup action-button btn">
              <i class="flaticon-share"></i> Share
            </a>
            <div class="share-popup-box">
              <div class="apus-social-share">
                <div class="bo-social-icons bo-sicolor social-radius-rounded">
                  <span class="heading-title">Share: </span>
                  <a
                    class="bo-social-facebook"
                    data-placement="top"
                    data-animation="true"
                    data-original-title="Facebook"
                    href=""
                    onclick="javascript: window.open('http://www.facebook.com/sharer.php?u=https://demoapus.com/findgo/listings/liberty-club/'); return false;"
                    target="_blank"
                    title="Share on facebook"
                  >
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a
                    class="bo-social-twitter"
                    data-placement="top"
                    data-animation="true"
                    data-original-title="Twitter"
                    href=""
                    onclick="javascript: window.open('http://twitter.com/home?status=Liberty+Club https://demoapus.com/findgo/listings/liberty-club/'); return false;"
                    target="_blank"
                    title="Share on Twitter"
                  >
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a
                    class="bo-social-linkedin"
                    data-placement="top"
                    data-animation="true"
                    data-original-title="LinkedIn"
                    href=""
                    onclick="javascript: window.open('http://linkedin.com/shareArticle?mini=true&amp;url=https://demoapus.com/findgo/listings/liberty-club/&amp;title=Liberty+Club'); return false;"
                    target="_blank"
                    title="Share on LinkedIn"
                  >
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a
                    class="bo-social-google"
                    data-placement="top"
                    data-animation="true"
                    data-original-title="Google plus"
                    href="https://plus.google.com/share?url=https://demoapus.com/findgo/listings/liberty-club/"
                    onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                    target="_blank"
                    title="Share on Google plus"
                  >
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a
                    class="bo-social-pinterest"
                    data-placement="top"
                    data-animation="true"
                    data-original-title="Pinterest"
                    href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F&amp;description=Liberty+Club&amp;media=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Fwp-content%2Fuploads%2F2018%2F05%2F1-2.jpg"
                    target="_blank"
                    title="Share on Pinterest"
                  >
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
