<div class="entry-featured-carousel gallery-listing3 gallery-listing">
  <div
    class="slick-carousel"
    data-carousel="slick"
    data-items="1"
    data-smallmedium="1"
    data-extrasmall="1"
    data-verysmall="1"
    data-pagination="false"
    data-nav="true"
    data-loop="true"
  >
    <div class="item" *ngFor="let image of images" #galleryItem>
      <a class="photo-item" [href]="endpoint + image.file" [title]="">
        <div class="image-wrapper" #imageWrapper>
          <img
            width="820"
            height="440"
            [src]="endpoint + image.file"
            class="attachment-findgo-image-gallery4 size-findgo-image-gallery4 unveil-image"
            alt=""
            [attr.data-src]="endpoint + image.file"
          />
        </div>
        <i class="fa fa-arrows-alt"></i>
      </a>
    </div>
  </div>
</div>
