<div class="section-wrapper box-user">
  <div class="content-inner">
    <div class="row">
      <div class="col-xs-12">
        <fieldset class="fieldset-job_tags">
          <label for="job_tags">Listing tags </label>
          <div class="field ">
            <input
              type="text"
              class="input-text input-field"
              name="job_tags"
              id="job_tags"
              value=""
              maxlength=""
              placeholder="e.g. PHP, Social Media, Management"
            />
            <small class="description"
              >Comma separate tags, such as required skills or technologies, for this job.15</small
            >
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
