mat-grid-list {
    height: 100px;
    margin: 3%!important;
    overflow: auto;
}
mat-grid-tile {
    background: lightblue;
}


.mat-tab-label-active{
    background-color: red ;
    opacity: 1 !important;
}

  