<div class="section-wrapper box-user">
  <div class="content-inner">
    <h3 class="section-title">Social</h3>
    <div class="row">
      <div class="col-sm-6">
        <fieldset class="fieldset-company_twitter">
          <label for="company_twitter">Twitter url </label>
          <div class="field ">
            <input
              type="text"
              class="input-text input-field"
              name="company_twitter"
              id="company_twitter"
              value=""
              maxlength=""
              placeholder="http://twitter.com/yourusername"
            />
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset class="fieldset-company_facebook">
          <label for="company_facebook">Facebook url </label>
          <div class="field ">
            <input
              type="text"
              class="input-text input-field"
              name="company_facebook"
              id="company_facebook"
              value=""
              maxlength=""
              placeholder="http://facebook.com/yourusername"
            />
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset class="fieldset-company_linkedin">
          <label for="company_linkedin">Linkedin url </label>
          <div class="field ">
            <input
              type="text"
              class="input-text input-field"
              name="company_linkedin"
              id="company_linkedin"
              value=""
              maxlength=""
              placeholder="http://linkedin.com/yourusername"
            />
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset class="fieldset-company_instagram">
          <label for="company_instagram">Instagram url </label>
          <div class="field ">
            <input
              type="text"
              class="input-text input-field"
              name="company_instagram"
              id="company_instagram"
              value=""
              maxlength=""
              placeholder="http://instagram.com/yourusername"
            />
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
