<h3>Menu</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div
    class="panel panel-default"
    *ngFor="let businessMenu of businessMenus; let i = index"
    #galleryItem
  >
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a
          (click)="toggleCollapseIcon(i)"
          role="button"
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="javascript:void(0)"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          {{ businessMenu.menuCategory }}
          <i
            class="collapseIcon"
            [ngClass]="businessMenu.collapsed ? 'flaticon-right-chevron' : 'flaticon-down-chevron'"
          ></i>
        </a>
      </h4>
    </div>
    <div
      id="collapseOne"
      class="panel-collapse collapse {{ businessMenu.name }}"
      role="tabpanel"
      aria-labelledby="headingOne"
    >
      <div class="panel-body">
        <div class="box-inner">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="menu-prices-wrapper">
                <!-- <h3 class="title-price">Donner</h3> -->
                <div class="entry-featured-carousel gallery-listing3 gallery-listing">
                  <ul class="listing-menu-prices-list">
                    <li *ngFor="let product of businessMenu.menuItem">
                      <div class="wrapper">
                        <div class="thumbnail menu-thumbnail">
                          <div class="item">
                            <a
                              class="photo-item menu-item"
                              [href]="endpoint + product.image"
                              [title]="product.description"
                            >
                              <div class="image-wrapper2" #imageWrapperMenu>
                                <img
                                  width="820"
                                  height="440"
                                  [src]="endpoint + product.image"
                                  class="attachment-findgo-image-gallery4 size-findgo-image-gallery4 unveil-image2"
                                  alt=""
                                  [attr.data-src]="endpoint + product.image"
                                />
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="information">
                          <h5>
                            {{ product.title }}<span class="price">${{ product.price }}</span>
                          </h5>
                          <div class="description">
                            {{ product.description }}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
