<div class="box-inner">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-prices-wrapper">
          <h3 class="title-price">For Breakfast</h3>
          <ul class="listing-menu-prices-list">
            <li>
              <h5>The Five Spot<span class="price">$5.95</span></h5>
              <div class="description">
                Breakfast sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
            <li>
              <h5>Cheese Omlet<span class="price">$7.00</span></h5>
              <div class="description">
                Breakfast sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
            <li>
              <h5>Waffle<span class="price">$4.90</span></h5>
              <div class="description">
                Breakfast sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-prices-wrapper">
          <h3 class="title-price">For Dinner</h3>
          <ul class="listing-menu-prices-list">
            <li>
              <h5>Fish burger<span class="price">$5.95</span></h5>
              <div class="description">
                Dinner sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
            <li>
              <h5>chicken fire<span class="price">$7.00</span></h5>
              <div class="description">
                Breakfast sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
            <li>
              <h5>Waffle<span class="price">$4.90</span></h5>
              <div class="description">
                Breakfast sandwich on a roll with 2 eggs, two slices of thick-cut bacon, American
                cheese
                and grilled onions
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
