.sebm-google-map-container {
    height: 100%;
    width: 100%;
}

.parent-container {
    position: absolute;
    width: 100%;
    height: 100%;

}


  
.parent-container .sidenav {
    height: 100%;
    width: 46%;
    background-color: white;
    z-index: 100;
    border: 1px solid #ccc;
    min-height: 1200px!important;
}

.parent-container .map {
    height: 100%;
    width: 100%;
}

.parent-container .map .mat-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}

mat-tab-group{
    height: 600px;
    overflow: auto;
}

mat-grid-list {
    height: 100px;
    margin: 3%!important;
    overflow: auto;
}
mat-grid-tile {
    background: lightblue;
}

.mat-drawer .mat-drawer-inner-container{
    overflow: hidden!important;
}