<div class="container">
  <div class="entry-listing-content">
    <div
      class="apus-single-listing"
      data-latitude="51.5106508"
      data-longitude="-0.1260016"
      data-categories="Fitness"
      data-icon=""
    >
      <div class="listing-cat-icon hidden">
        <i class="flaticon-weightlifting"></i>
      </div>
      <div class="row">
        <div class="col-md-8 column-content entry-content ">
          <div class="listing-main-content">
            <div id="listing-menu-prices" class="listing-menu-prices widget">
              <app-business-detail-menu
                [products]="business?.business.products"
              ></app-business-detail-menu>
            </div>
            <div id="listing-amenities" class="listing-amenities widget">
              <app-business-detail-amenities
                [amenities]="business?.business.amenities"
              ></app-business-detail-amenities>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar sidebar-detail-job sidebar-right">
            <app-business-detail-opening-hours
              [opening_timings]="business?.business.opening_timings"
            ></app-business-detail-opening-hours>
            <!-- <div id="listing-map-contact" class="listing-map widget">
              <h3 class="widget-title">
                <span>Location</span>
              </h3>
              <div class="listing-map-contact box-inner">
                <app-business-detail-map
                  [latlon]="business?.latlon"
                  [address]="business?.address"
                  [phone]="business?.phone"
                  [website]="business?.website"
                ></app-business-detail-map>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
