<div
  class="listings-filter-wrapper ps-container ps-active-y"
  style="top: 96px; height: calc(100% - 96px);"
>
  <div class="filter-stick">
    <h3 class="title-filter-2">What are you looking for?</h3>
    <div class="desc">Search or select categories</div>
    <span class="close-filter"><i class="flaticon-cross-out"></i></span>
  </div>
  <form class="job_filters job_filters-sidebar">
    <input class="input_display_mode" type="hidden" name="display_mode" value="grid" />
    <div class="filter-inner clearfix">
      <div class="search_jobs">
        <div class="widget">
          <div class="content">
            <div class="filter-top">
              <div class="row filter-top-inner clearfix">
                <div class="col-xs-12">
                  <ng-select
                    [items]="selectedTypes"
                    name="listing_category"
                    bindLabel="name"
                    bindValue="id"
                    class="dropdowner"
                    (change)="dropDownChanged($event)"
                    [multiple]="false"
                    [placeholder]="filterTypeText"
                    [(ngModel)]="selectedTypeID"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
            <!-- <div class="filter-top" *ngIf="!showingBusinesses">
              <div class="row filter-top-inner clearfix">
                <div class="col-xs-12">
                  <ng-select
                    [items]="selectedTypes"
                    name="listing_category"
                    bindLabel="name"
                    bindValue="id"
                    class="dropdowner"
                    [multiple]="false"
                    [placeholder]="filterTypeText"
                    [(ngModel)]="selectedTypeID"
                  >
                  </ng-select>
                </div>
              </div>
            </div> -->
            <div class="search_distance_wrapper clearfix" *ngIf="showingBusinesses">
              <div class="search-distance-label">
                <label for="use_search_distance">
                  <input
                    name="use_search_distance"
                    id="use_search_distance"
                    checked="checked"
                    type="checkbox"
                  />
                  Radius: <span class="text-distance">{{ businessFilters.latlondis[2] }}</span> km
                </label>
              </div>
              <div class="search-distance-wrapper">
                <input
                  #searchDistance
                  type="hidden"
                  name="search_distance"
                  id="search_distance"
                  [(value)]="businessFilters.latlondis[2]"
                />
                <div
                  id="search-distance-slider"
                  class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                >
                  <div
                    id="distance-custom-handle"
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    data-value="50"
                    style="left: 50%;"
                  ></div>
                  <div
                    class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                    style="width: 50%;"
                  ></div>
                </div>
              </div>
            </div>

            <div class="search_tag_wrapper">
              <a href="javascript:void(0);" class="show-more-filter title"
                >Tags <i class="fa fa-minus"></i>
              </a>
              <div class="tags-wrap active">
                <ul class="row job_tags">
                  <li class="col-xs-6" *ngFor="let tag of selectedTags; let i = index">
                    <label for="tag_filter_{{ i }}" [ngClass]="tag.checked ? 'active' : ''">
                      <!-- <input
                        type="checkbox"
                        name="filter_job_amenity"
                        [value]="tag.tag"
                        id="job_amenity_outdoor-seating{{ i }}"
                      /> -->
                      <input
                        (click)="toggleCheckbox(i)"
                        type="checkbox"
                        [(ngModel)]="tag.checked"
                        id="tag_filter_{{ i }}"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      {{ tag.tag }}</label
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12">
              <input
                type="submit"
                value="Search"
                (click)="applyFilters()"
                class="wpcf7-form-control wpcf7-submit btn btn-lg btn-second"
                style="width:100%;"
              />
            </div>

            <div class="listing-search-result-filter"></div>
          </div>
        </div>
      </div>
      <ul class="job_types">
        <li>
          <label for="job_type_freelance" class="freelance"
            ><input
              type="checkbox"
              name="filter_job_type[]"
              value="freelance"
              checked="checked"
              id="job_type_freelance"
            />
            Freelance</label
          >
        </li>
        <li>
          <label for="job_type_full-time" class="full-time"
            ><input
              type="checkbox"
              name="filter_job_type[]"
              value="full-time"
              checked="checked"
              id="job_type_full-time"
            />
            Full Time</label
          >
        </li>
        <li>
          <label for="job_type_internship" class="internship"
            ><input
              type="checkbox"
              name="filter_job_type[]"
              value="internship"
              checked="checked"
              id="job_type_internship"
            />
            Internship</label
          >
        </li>
        <li>
          <label for="job_type_part-time" class="part-time"
            ><input
              type="checkbox"
              name="filter_job_type[]"
              value="part-time"
              checked="checked"
              id="job_type_part-time"
            />
            Part Time</label
          >
        </li>
        <li>
          <label for="job_type_temporary" class="temporary"
            ><input
              type="checkbox"
              name="filter_job_type[]"
              value="temporary"
              checked="checked"
              id="job_type_temporary"
            />
            Temporary</label
          >
        </li>
      </ul>
      <input type="hidden" name="filter_job_type[]" value="" />
      <div class="showing_jobs" style="display: none;">
        <div class="results"><span class="results-no">14</span> Results Found (Showing 1 - 14)</div>
      </div>
    </div>
  </form>
</div>
