<div class="job_listings job_listings_cards clearfix row">
  <a
    (click)="openDetailDrawer(business.business.id)"
    (mouseenter)="highlightMarker(business.business.id, true)"
    (mouseleave)="highlightMarker(business.business.id, false)"
    target="_blank"
    class="col-md-2 col-sm-5 col-xs-12 layout-1450 business-info-grid-item"
    *ngFor="let business of productService.getProducts()"
    #businessesParentTag
  >
    <span *ngFor="let product of business.business.products">
      <app-info-detail
        (addSearchFilterForType)="searchByProductType($event)"
        (addSearchFilterForTag)="searchByTag($event)"
        [business]="business.business"
        [product]="product"
        [isBusinessShowing]="false"
      ></app-info-detail>
    </span>
  </a>
</div>
