.individual-product:hover {
  cursor: pointer;
}

.products-wrapper {
  pointer-events: none;
  opacity: 0.5;
}
.listing-tagline.ellipsize-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  color: #5cb85c !important;
}

.review-avg.food-tag {
  background: #28b8dc !important;
  margin-top: 2%;
}

.listing-content-custom {
  border-top: 1px solid #ebebeb;
}
.product-address,
.product-address-icon,
.product-phone {
  color: #8d8d8d !important;
}

.food-tag:hover {
  cursor: pointer;
}

div.job_listing .listing-bookmark i,
div.job_listing .listing-preview i {
  margin-left: -10px !important;
}

.top-imformation {
  padding: 0px 10px !important;
}
