.individual-product:hover {
  cursor: pointer;
}

.products-wrapper {
  pointer-events: none;
  opacity: 0.5;
}
.listing-tagline.ellipsize-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  color: #5cb85c !important;
}

.review-avg.food-tag {
  background: #28b8dc !important;
  margin-top: 2%;
}
