<div
  class="job_filters job_filters-sidebar ng-untouched ng-pristine ng-valid main-search-box-mobile"
>
  <div class="filter-inner clearfix">
    <div class="search_jobs">
      <div class="row filter-top-inner clearfix">
        <div class="search_keywords ">
          <div class="col-md-12">
            <input
              *ngIf="searchBarEnabled"
              type="text"
              name="search_keywords"
              id="search_keywords"
              class="search-input"
              placeholder="Search: nearest pizza places"
              value=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-groups-button hidden-lg hidden-md">
  <button class="btn-xs btn btn-second btn-filter">
    Search Filters
  </button>

  <!-- This btn is for home page to toggle with products and maps -->
  <button
    *ngIf="searchBarEnabled"
    class="pull-right btn btn-xs btn-second btn-view-map"
    type="button"
    (click)="updateMobileMapView()"
  >
    <i class="fa fa-map-o" aria-hidden="true"></i> Map View
  </button>

  <!-- This btn is for explore page to toggle with products and businesses -->
  <button
    *ngIf="!searchBarEnabled"
    class="pull-right btn btn-xs btn-second btn-view-products"
    type="button"
  >
    <i class="fa fa-th-large" aria-hidden="true"></i> Products View
  </button>

  <button
    class="pull-right btn btn-xs btn-second btn-view-listing hidden-sm hidden-xs"
    type="button"
  >
    <i class="fa fa-list" aria-hidden="true"></i> Listing View
  </button>
</div>
