<app-menu></app-menu>
<div class="container">
  <form
    action="/findgo/submit-listings/"
    method="post"
    id="submit-job-form"
    class="job-manager-form"
    enctype="multipart/form-data"
  >
    <app-general-info></app-general-info>
    <app-opening-closing-hours></app-opening-closing-hours>
    <app-location></app-location>
    <app-add-menu></app-add-menu>
    <app-add-media></app-add-media>
    <app-add-social-links></app-add-social-links>
    <app-listing-tags></app-listing-tags>

    <p class="clearfix">
      <input type="hidden" name="job_manager_form" value="submit-job" />
      <input type="hidden" name="job_id" value="0" />
      <input type="hidden" name="step" value="1" />
      <input
        type="submit"
        name="submit_job"
        class="button btn-submit pull-right"
        value="Save &amp; Preview"
      />
    </p>
  </form>
</div>
