<div id="listing-hours" class="listing-hours widget">
    <h3 class="widget-title">
      Opening Hours <div class="pull-right">
        <div class="listing-time closed">
          Closed </div>
      </div>
    </h3>
    <div class="listing-hours-inner box-inner">
      <div class="listing-day ">
        <span class="day">monday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">6:00 am</span>
        </div>
      </div>
      <div class="listing-day ">
        <span class="day">tuesday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">6:00 am</span>
        </div>
      </div>
      <div class="listing-day current">
        <span class="day">wednesday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">6:00 am</span>
        </div>
      </div>
      <div class="listing-day ">
        <span class="day">thursday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">6:00 am</span>
        </div>
      </div>
      <div class="listing-day ">
        <span class="day">friday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">6:00 am</span>
        </div>
      </div>
      <div class="listing-day ">
        <span class="day">saturday</span>
        <div class="bottom-inner">
          <span class="start">5:00 pm</span>
          <span class="end">10:00 am</span>
        </div>
      </div>
      <div class="listing-day ">
        <span class="day">sunday</span>
        <div class="bottom-inner">
          <span class="start">Close</span>
          <span class="end">Close</span>
        </div>
      </div>
    </div>
  </div>
