@media (max-width: 1441px) {
  .mobile-price-range {
    float: right;
    border-radius: 50px;
    background-color: #fb3640;
    color: white;
    padding: 2px 10px;
    font-size: 13px;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    display: inherit !important;
  }
  .price-range,
  .preview-btn {
    display: none !important;
  }
  .listing-tags > div {
    display: inline !important;
  }
  .listing-image {
    width: 153px !important;
  }
}

.mobile-preview-btn {
  display: none;
}
.mobile-price-range {
  display: none;
}

.list-content {
  padding: 0 30px !important;
}

.businesses-position {
  overflow: auto;
  width: 40%;
  height: 100%;
  position: fixed;
}
