@media (max-width: 1025px) {
  .wrapper-list {
    font-size: 10px !important;
  }
}

@media (max-width: 1370px) {
  div.job_listing .listing-image-inner .price-range {
    padding: 3px !important;
    line-height: 1 !important;
    font-size: 12px !important;
    -webkit-border-radius: 0 !important;
  }
}
@media (max-width: 1026px) {
  .businesses-position {
    top: 7% !important;
  }
}

@media (max-width: 770px) {
  .businesses-position {
    width: 100% !important;
  }
}
.list-content {
  padding: 0 30px !important;
}

.businesses-position {
  overflow: auto;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 10%;
}
