@media (max-width: 1441px) {
  .businesses-position {
    overflow: auto;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 1;
  }
}
@media (max-width: 1025px) {
  .wrapper-list {
    font-size: 10px !important;
  }
}

.mobile-preview-btn {
  display: none;
}
.mobile-price-range {
  display: none;
}

.list-content {
  padding: 0 30px !important;
}

.businesses-position {
  overflow: auto;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 3;
}
