<div class="section-wrapper box-user">
  <div class="content-inner">
    <div class="row">
      <div class="col-xs-12">
        <fieldset class="fieldset-job_menu_prices">
          <div class="field ">
            <div class="menu-prices-field">
              <h3 class="title">Menu Prices</h3>
              <div class="menu-prices-field-wrapper">
                <div class="menu-prices-section-item">
                  <div class="job-manager-section-title">
                    <h4>Section Title</h4>
                    <input
                      type="text"
                      class="input-text input-section-title input-field"
                      name="_job_menu_prices[0][section_title]"
                      value=""
                    />
                  </div>
                  <h4>Section Items</h4>
                  <div class="menu-prices-section-item-wrapper">
                    <div class="menu-prices-item">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="job-manager-title">
                            <label>Title</label>
                            <input
                              type="text"
                              class="input-text input-section-item-title input-field"
                              name="_job_menu_prices[0][title][]"
                              value=""
                            />
                          </div>
                          <div class="job-manager-price">
                            <label>Price</label>
                            <input
                              type="text"
                              class="input-text input-section-item-price input-field"
                              name="_job_menu_prices[0][price][]"
                              value=""
                            />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="job-manager-description">
                            <label>Description</label>
                            <textarea
                              cols="20"
                              rows="3"
                              class="input-text input-section-item-description"
                              name="_job_menu_prices[0][description][]"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="add-new-menu-price button button-primary" href="javascript:void(0);"
                    >Add New Menu</a
                  >
                  <a class="remove-menu-price button" href="javascript:void(0);">Remove Menu</a>
                </div>
              </div>
              <a class="add-new-section-menu-price button button-primary" href="javascript:void(0);"
                >Add New Section</a
              >
              <a class="remove-section-menu-price button" href="javascript:void(0);"
                >Remove Section</a
              >
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
