<header id="apus-header" class="site-header header-v1 hidden-tablet" role="banner">
  <div class="main-sticky-header-wrapper" style="height: 96px;">
    <div class="main-sticky-header">
      <div class="header-main">
        <div class="header-inner visible-table">
          <div class="pull-left">
            <div class="visible-table">
              <div class="logo-in-theme  pull-left">
                <div class="logo logo-theme">
                  <a href="/">
                    <img class="logo-main hidden" src="/assets/images/logo.png" alt="FindGo" />
                    <img class="logo-second" src="/assets/images/logo-white.png" alt="FindGo" />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="pull-right">
            <div class="col-md-6">
              <div
                class="job_filters job_filters-sidebar ng-untouched ng-pristine ng-valid main-search-box"
              >
                <div class="filter-inner clearfix">
                  <div class="search_jobs">
                    <div class="row filter-top-inner clearfix">
                      <div class="search_keywords ">
                        <div class="col-md-12">
                          <input
                            (keydown.enter)="searchResults()"
                            type="text"
                            name="search_keywords"
                            id="search_keywords"
                            class="search-input"
                            placeholder="Search: nearest pizza places"
                            [(ngModel)]="searchText"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right account-buttons">
              <div class="setting-account">
                <span class="accountbt-hover"><i class="flaticon-avatar"></i></span>
                <ul class="user-account list-line">
                  <li>
                    <a href="#apus_login_forgot_tab" class="apus-user-login wel-user">Login</a>
                  </li>
                  <li>
                    <a href="#apus_register_tab" class="apus-user-register wel-user">Register</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="add-listing pull-right">
              <span class="btn btn-white btn-outline"
                ><i class="icon-add" aria-hidden="true"></i> Add Listing</span
              >
            </div>
            <div class="site-header-mainmenu pull-right menu-items-media-margin">
              <nav data-duration="400" class="apus-megamenu slide animate navbar" role="navigation">
                <div class="collapse navbar-collapse no-padding">
                  <ul id="primary-menu" class="apus-nav navbar-nav megamenu">
                    <li class="dropdown menu-item-31 aligned-left">
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-hover="dropdown"
                        data-toggle="dropdown"
                        >Explore <b class="caret"></b
                        ><span class="text-label label-hot">Hot</span></a
                      >
                    </li>
                    <li class="dropdown menu-item-320 aligned-left">
                      <a
                        href="https://demoapus.com/findgo/listings/"
                        class="dropdown-toggle"
                        data-hover="dropdown"
                        data-toggle="dropdown"
                        >Search</a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
