<div
  class="col-xs-12 main-results products-position"
  [ngClass]="{ 'products-wrapper': productsLoading }"
>
  <div class="loading-sign" *ngIf="productsLoading">
    <img src="/assets/images/ajax-loader.gif" class="ajax-loader" />
  </div>
  <div class="listing-action clearfix">
    <div class="listing-search-result">
      <div class="results">
        <span class="results-no">{{ products?.length }}</span> Products Found
      </div>
    </div>
    <div class="listing-display-mode">
      <div class="display-mode"></div>
    </div>
  </div>
  <app-product-info [products]="products"></app-product-info>
</div>
