<div
  class="col-xs-12 main-results products-position"
  [ngClass]="{ 'products-wrapper': productsLoading }"
>
  <div class="loading-sign" *ngIf="productsLoading">
    <img src="/assets/images/ajax-loader.gif" class="ajax-loader" />
  </div>
  <div class="listing-action clearfix">
    <div class="listing-search-result">
      <div class="results">
        <span class="results-no">{{ products?.length }}</span> Results Found
      </div>
    </div>
    <div class="listing-display-mode">
      <div class="display-mode"></div>
    </div>
  </div>
  <div class="job_listings job_listings_cards clearfix row">
    <a
      href="/product/{{ product.slug }}/{{ product.product }}"
      target="_blank"
      class="md-clear-3 col-md-4 col-sm-6 col-xs-12 layout-1450 individual-product"
      *ngFor="let product of products"
    >
      <div
        class="mobile-icons-size mobile-icons-size job-grid-style job-grid-style-v1 post-635 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_category-shops job_listing_type-full-time job_listing_amenity-accepts-credit-cards job_listing_amenity-bike-parking job_listing_amenity-coupons job_listing_amenity-outdoor-seating job_listing_amenity-parking-street job_listing_amenity-reservations job_listing_amenity-smoking-allowed job_listing_amenity-wheelchair-accesible job_listing_region-new-york job_listing_tag-card-payment job_listing_tag-daily-specials job_listing_tag-hotels job_listing_tag-new-york job_listing_tag-parking-street job_listing_tag-restaurant job-type-full-time job_position_featured"
        itemscope=""
        itemtype="http://schema.org/LocalBusiness"
      >
        <div class="listing-cat-icon hidden">
          <i class="flaticon-shopping-cart"></i>
        </div>
        <!--
        <div class="hidden listing-review">
          <div class="review-stars-rated-wrapper">
              <div class="review-stars-rated">
              <ul class="review-stars">
                <li><span class="fa fa-star-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
              </ul>

              <ul class="review-stars filled" style="width: 100%">
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
              </ul>
            </div>
            <span class="nb-review">(1 Review)</span>
          </div>
          </div>
            -->
        <div class="listing-image">
          <div class="listing-image-inner">
            <div class="image-wrapper image-loaded">
              <a [href]="product.slug" *ngIf="product.images[0]">
                <img
                  [src]="endpoint + product.images[0].file"
                  [alt]="product.title"
                  class="unveil-image"
                />
              </a>
            </div>
            <!-- <span class="price-range"> $100 - $200 </span> -->
            <div class="top-imformation">
              <div class="listing-preview-wrapper pull-left">
                <a href="#preview-635" class="listing-preview" data-id="635"
                  ><i class="flaticon-visible"></i><span class="preview-text">Preview</span></a
                >
              </div>
              <div class="listing-bookmark pull-right">
                <a href="#apus-bookmark-add" class="apus-bookmark-not-login" data-id="635">
                  <span class="bookmark-text">Save</span>
                  <i class="flaticon-like"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-grid">
          <div class="listing-content">
            <h3 class="listing-title">
              <a href="https://demoapus.com/findgo/listings/shop-in-city2/">{{ product.title }}</a>
            </h3>
            <div class="listing-tagline ellipsize-description">{{ product.description }}</div>
            <div class="listing-tags">
              <!--
              <div class="listing-review">
                <span class="review-avg">5.0</span>
                1 Rating
              </div>
            -->
              <div class="listing-category">
                <a href="https://demoapus.com/findgo/listing-category/shops/"
                  ><i class="flaticon-shopping-cart"></i>Shops</a
                >
              </div>
              <div class="p-relative">
                <div class="listing-price-range price">{{ product.price }} $</div>
              </div>
            </div>
          </div>
          <!--<div class="listing-content-bottom clearfix">
              <div class="pull-left">
              <div class="listing-location">
                <i class="flaticon-placeholder"></i
                ><a href="https://demoapus.com/findgo/region/new-york/"></a>
              </div>
            </div>
            <div class="listing-phone pull-right">
              <i class="flaticon-phone-call"></i>
              +84 123 456
            </div>
          </div>-->
        </div>
      </div>
    </a>
  </div>
</div>
