@media (max-width: 1025px) {
  .mobile-icons-size {
    font-size: 10px;
  }
}

@media (max-width: 770px) {
  .ajax-loader {
    left: 50% !important;
  }
}

.ajax-loader {
  position: fixed;
  top: 50%;
  left: 70%;
  z-index: 99;
}

.products-wrapper {
  pointer-events: none;
  opacity: 0.5;
}
.listing-tagline.ellipsize-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
