<div class="apus-page-loading" style="display: none;">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="wrapper-container" class="wrapper-container">
  <app-m-home-filter-drawer></app-m-home-filter-drawer>
  <app-m-menu></app-m-menu>
  <app-menu></app-menu>

  <div id="apus-main-content" style="padding-top:5%;">
    <div id="primary" class="content-area">
      <div class="container top-content hidden-lg hidden-md">
        <a href="javascript:void(0)" class="mobile-sidebar-btn"> <i class="fa fa-bars"></i> Show Sidebar</a>
        <div class="mobile-sidebar-panel-overlay"></div>
      </div>
      <main id="main" class="site-main" role="main">
        <article id="post-236"
          class="detail-listing-v1 detail-listing-v5 post-236 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_category-fitness job_listing_type-full-time job_listing_amenity-accepts-credit-cards job_listing_amenity-bike-parking job_listing_amenity-coupons job_listing_amenity-outdoor-seating job_listing_amenity-parking-street job_listing_amenity-reservations job_listing_amenity-smoking-allowed job_listing_amenity-wheelchair-accesible job_listing_amenity-wireless-internet job_listing_region-london job_listing_tag-card-payment job_listing_tag-daily-specials job_listing_tag-hotels job_listing_tag-listing job_listing_tag-restaurant job_listing_tag-smoking-allowed job_listing_tag-trips job-type-full-time">
          <div class="header-gallery-wrapper header-top-job">
            <app-business-detail-header-gallery></app-business-detail-header-gallery>
            <app-business-detail-header></app-business-detail-header>
          </div>
          <app-business-detail-container></app-business-detail-container>
        </article>
      </main>
    </div>
  </div>
  <app-footer></app-footer>
  <a href="#" id="back-to-top" class="">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </a>
</div>

<div class="map-pin-icon hidden">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px" y="0px"
    width="54px" height="54px" viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve">
    <path class="pin-st0" d="M27,54C27,54,27,54,27,54c0.7,0,1.3-0.3,1.7-0.8C41.1,38,47,29.2,47,20.3C47,9.1,38,0,27,0S7,9.1,7,20.3
      c0,8.7,5.6,17.2,18.3,32.9C25.7,53.7,26.3,54,27,54z"></path>
    <path class="pin-st1"
      d="M27,1C16.5,1,8,9.6,8,20.1c0,8.2,5.4,16.2,17.4,31.1c0.4,0.5,1,0.8,1.6,0.8c0,0,0,0,0,0c0.6,0,1.2-0.3,1.6-0.8
      C40.4,36.9,46,28.6,46,20.1C46,9.6,37.5,1,27,1z M27,36c-8.8,0-16-7.2-16-16S18.2,4,27,4c8.8,0,16,7.2,16,16S35.8,36,27,36z"></path>
  </svg>
</div>
<div class="map-pin-default-icon hidden">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="46px" height="57px" viewBox="0 0 46 57" enable-background="new 0 0 46 57" xml:space="preserve">
    <g>
      <g>
        <path d="M23,0C10.3,0,0,10.3,0,23c0,8.5,4.6,15.8,11.4,19.8c0.2,0.6,0.5,1.1,0.8,1.6l7.9,10.9
          c1.6,2.2,4.2,2.2,5.8,0l7.9-10.9c0.3-0.5,0.6-1,0.8-1.6C41.4,38.9,46,31.5,46,23C46,10.3,35.7,0,23,0z"></path>
      </g>
    </g>
    <g>
      <g>
        <circle fill="#FFFFFF" cx="23" cy="23" r="16.3"></circle>
      </g>
    </g>
  </svg>
</div>
<div class="hidden" id="apus_login_register_form_wrapper">
  <div class="apus_login_register_form">
    <ul class="nav nav-tabs">
      <li class="active"><a id="apus_login_forgot_tab" data-toggle="tab" href="#apus_login_forgot_form">Login</a></li>
      <li><a id="apus_register_tab" data-toggle="tab" href="#apus_register_form">Register</a></li>
    </ul>
    <div class="form-login-register-inner">
      <div class="tab-content">
        <div id="apus_login_forgot_form" class="tab-pane fade active in">
          <div class="form-acount" tabindex="-1" role="dialog">
            <div class="inner">
              <div id="apus_login_form" class="form-container">
                <form class="apus-login-form" action="https://demoapus.com/findgo/" method="post">
                  <div class="form-group">
                    <label for="username_or_email">Username Or Email</label>
                    <sup class="apus-required-field">*</sup>
                    <input autocomplete="off" type="text" name="username" class="form-control" id="username_or_email"
                      placeholder="Enter username or email">
                  </div>
                  <div class="form-group">
                    <label for="login_password">Password</label>
                    <sup class="apus-required-field">*</sup>
                    <input name="password" type="password" class="password required form-control" id="login_password"
                      placeholder="Enter Password">
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="apus-user-remember">
                          <input type="checkbox" name="remember" id="apus-user-remember" value="true"> Keep me signed in
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>
                        <a href="#apus_forgot_password_form" class="back-link" title="Forgot Password">Lost Your
                          Password?</a>
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-theme btn-block" name="submit" value="Login">
                  </div>

                  <style type="text/css">
                    .wp-social-login-connect-with {}

                    .wp-social-login-provider-list {}

                    .wp-social-login-provider-list a {}

                    .wp-social-login-provider-list img {}

                    .wsl_connect_with_provider {}
                  </style>
                  <div class="wp-social-login-widget">
                    <div class="wp-social-login-connect-with">Connect with:</div>
                    <div class="wp-social-login-provider-list">
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Facebook&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook"
                        data-provider="Facebook">
                        <img alt="Facebook" title="Connect with Facebook"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//facebook.png">
                      </a>
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Google&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google"
                        data-provider="Google">
                        <img alt="Google" title="Connect with Google"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//google.png">
                      </a>
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Twitter&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter"
                        data-provider="Twitter">
                        <img alt="Twitter" title="Connect with Twitter"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//twitter.png">
                      </a>
                    </div>
                    <div class="wp-social-login-widget-clearing"></div>
                  </div>

                  <input type="hidden" id="security_login" name="security_login" value="be989a975e"><input type="hidden"
                    name="_wp_http_referer" value="/findgo/listings/liberty-club/?_preset=1525859659">
                </form>
              </div>

              <div id="apus_forgot_password_form" class="form-container" style="display: none;">
                <form name="forgotpasswordform" class="forgotpassword-form"
                  action="https://demoapus.com/findgo/wp-login.php?action=lostpassword" method="post">
                  <h3>Reset Password</h3>
                  <div class="lostpassword-fields">
                    <div class="form-group">
                      <label for="lostpassword_username">Username or E-mail</label>
                      <sup class="apus-required-field">*</sup>
                      <input type="text" name="user_login" class="user_login form-control" id="lostpassword_username"
                        placeholder="Enter Password">
                    </div>
                    <input type="hidden" id="security_lostpassword" name="security_lostpassword"
                      value="71657fb0e0"><input type="hidden" name="_wp_http_referer"
                      value="/findgo/listings/liberty-club/?_preset=1525859659">
                    <div class="form-group">
                      <input type="submit" class="btn btn-theme btn-block" name="wp-submit" value="Get New Password"
                        tabindex="100">
                      <input type="button" class="btn btn-danger btn-block btn-cancel" value="Cancel" tabindex="101">
                    </div>
                  </div>
                  <div class="lostpassword-link"><a href="#apus_login_form" class="back-link">Back To Login</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="apus_register_form" class="tab-pane fade in">
          <div class="form-register">
            <div class="inner">
              <div class="container-form">
                <form name="apusRegisterForm" method="post" class="apus-register-form">
                  <div id="apus-reg-loader-info" class="apus-loader hidden">
                    <span>Please wait ...</span>
                  </div>
                  <div id="apus-register-alert" class="alert alert-danger" role="alert" style="display:none;"></div>
                  <div id="apus-mail-alert" class="alert alert-danger" role="alert" style="display:none;"></div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <sup class="apus-required-field">*</sup>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
                  </div>
                  <div class="form-group">
                    <label for="reg-email">Email</label>
                    <sup class="apus-required-field">*</sup>
                    <input type="text" class="form-control" name="email" id="reg-email" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <sup class="apus-required-field">*</sup>
                    <input type="password" class="form-control" name="password" id="password"
                      placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <sup class="apus-required-field">*</sup>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                      placeholder="Enter Password">
                  </div>
                  <input type="hidden" id="security_register" name="security_register" value="24ed098329"><input
                    type="hidden" name="_wp_http_referer" value="/findgo/listings/liberty-club/?_preset=1525859659">
                  <div class="form-group">
                    <button type="submit" class="btn btn-second btn-block" name="submitRegister">
                      Register now </button>
                  </div>

                  <style type="text/css">
                    .wp-social-login-connect-with {}

                    .wp-social-login-provider-list {}

                    .wp-social-login-provider-list a {}

                    .wp-social-login-provider-list img {}

                    .wsl_connect_with_provider {}
                  </style>
                  <div class="wp-social-login-widget">
                    <div class="wp-social-login-connect-with">Connect with:</div>
                    <div class="wp-social-login-provider-list">
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Facebook&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook"
                        data-provider="Facebook">
                        <img alt="Facebook" title="Connect with Facebook"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//facebook.png">
                      </a>
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Google&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google"
                        data-provider="Google">
                        <img alt="Google" title="Connect with Google"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//google.png">
                      </a>
                      <a rel="nofollow"
                        href="https://demoapus.com/findgo/wp-login.php?action=wordpress_social_authenticate&amp;mode=login&amp;provider=Twitter&amp;redirect_to=https%3A%2F%2Fdemoapus.com%2Ffindgo%2Flistings%2Fliberty-club%2F%3F_preset%3D1525859659"
                        title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter"
                        data-provider="Twitter">
                        <img alt="Twitter" title="Connect with Twitter"
                          src="https://demoapus.com/findgo/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//twitter.png">
                      </a>
                    </div>
                    <div class="wp-social-login-widget-clearing"></div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>