<div class="apus-page-loading" style="display: none;">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="wrapper-container" class="wrapper-container">
    <app-m-home-menu-drawer></app-m-home-menu-drawer>
    <app-m-menu></app-m-menu>
  <app-menu></app-menu>

  <div id="apus-main-content" style="padding-top:5%;">
    <div id="primary" class="content-area">
      <div class="container top-content hidden-lg hidden-md">
        <a href="javascript:void(0)" class="mobile-sidebar-btn"> <i class="fa fa-bars"></i> Show Sidebar</a>
        <div class="mobile-sidebar-panel-overlay"></div>
      </div>
      <main id="main" class="site-main" role="main">
        <article id="post-236"
          class="detail-listing-v1 detail-listing-v5 post-236 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_category-fitness job_listing_type-full-time job_listing_amenity-accepts-credit-cards job_listing_amenity-bike-parking job_listing_amenity-coupons job_listing_amenity-outdoor-seating job_listing_amenity-parking-street job_listing_amenity-reservations job_listing_amenity-smoking-allowed job_listing_amenity-wheelchair-accesible job_listing_amenity-wireless-internet job_listing_region-london job_listing_tag-card-payment job_listing_tag-daily-specials job_listing_tag-hotels job_listing_tag-listing job_listing_tag-restaurant job_listing_tag-smoking-allowed job_listing_tag-trips job-type-full-time">
          <div class="header-gallery-wrapper header-top-job">
            <app-business-detail-header-gallery></app-business-detail-header-gallery>
            <app-business-detail-header></app-business-detail-header>
          </div>
          <app-business-detail-container></app-business-detail-container>
        </article>
      </main>
    </div>
  </div>
  <app-footer></app-footer>
  <a href="#" id="back-to-top" class="">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </a>
</div>