<div
  class="col-md-8 no-padding products-grid"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="200"
  (scrolled)="loadMoreResults()"
>
  <div class="list-content clearfix">
    <app-home-drawers-container
      #drawerContainer
      (setLatLonDis)="setMapDetailViewLocation($event)"
      (putTemporaryMarkerOnMap)="setTemporaryMarker($event)"
      (removeTemporaryMarkerOnMap)="removeTemporaryMarker($event)"
    ></app-home-drawers-container>
    <app-m-filter-map-menu (setMobileMapView)="updateMobileMapView()"></app-m-filter-map-menu>

    <div class="main-results">
      <div class="listing-action clearfix">
        <div class="listing-search-result col-md-9">
          <div class="results">
            <span class="results-no">{{ hits }}</span> {{ selectedCategory }} Found (Showing 1 - 14)
          </div>
          <div class="filters">
            <div
              class="results"
              *ngIf="selectedFilterChips.length > 0 || generalFilterChips.length > 0"
            >
              <span class="search-tag" *ngFor="let chip of selectedFilterChips">
                {{ chip.value }}
                <i class="fa fa-remove" (click)="removeFilter(chip.key, chip.id)"></i
              ></span>
              <span class="search-tag" *ngFor="let chip of generalFilterChips">
                {{ chip.value }}
                <i class="fa fa-remove" (click)="removeGeneralFilter(chip.key)"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills">
            <li
              role="presentation"
              (click)="searchBusinesses()"
              [ngClass]="generalService.showingBusinesses ? 'active' : ''"
            >
              <a href="javascript:void(0)">Businesses</a>
            </li>
            <li
              role="presentation"
              (click)="searchProducts()"
              [ngClass]="generalService.showingBusinesses ? '' : 'active'"
            >
              <a href="javascript:void(0)">Products</a>
            </li>
          </ul>
        </div>
      </div>
      <app-product-info
        (numberOfShownProducts)="setShownProductsCount($event)"
        *ngIf="!generalService.showingBusinesses"
        [homePage]="true"
      ></app-product-info>

      <app-business-info
        (numberOfShownBusinesses)="setShownBusinessesCount($event)"
        *ngIf="generalService.showingBusinesses"
        [homePage]="true"
      ></app-business-info>
      <div class="load-more-wrapper" *ngIf="loadMoreEnabled">
        <img src="/assets/images/ajax-loader.gif" />
      </div>
    </div>
  </div>
</div>
