@media (min-width: 319px) {
  .list-content {
    background-color: white !important;
  }
  .main-search-box-mobile {
    display: inline;
  }
}

.main-search-box {
  margin: 3%;
}

.search-input {
  width: 100%;
}
