<div class="col-md-8 no-padding products-grid">
  <div class="list-content clearfix">
    <app-home-drawers-container #drawerContainer></app-home-drawers-container>
    <app-m-filter-map-menu (setMobileMapView)="updateMobileMapView()"></app-m-filter-map-menu>

    <div class="main-results">
      <div class="listing-action clearfix">
        <div class="listing-search-result">
          <div class="results">
            <span class="results-no">{{ hits }}</span> {{ selectedCategory }} Found (Showing 1 - 14)
          </div>
          <div class="listing-search-result filters">
            <div class="results"><span class="search-tag"> Vehicle Boy </span></div>
          </div>
        </div>
        <div class="listing-display-mode">
          <ul class="nav nav-pills">
            <li
              role="presentation"
              (click)="searchBusinesses()"
              [ngClass]="showingBusinesses ? 'active' : ''"
            >
              <a href="javascript:void(0)">Businesses</a>
            </li>
            <li
              role="presentation"
              (click)="searchProducts()"
              [ngClass]="showingBusinesses ? '' : 'active'"
            >
              <a href="javascript:void(0)">Products</a>
            </li>
          </ul>
        </div>
      </div>
      <app-product-info *ngIf="!showingBusinesses" [homePage]="true"></app-product-info>

      <app-business-info *ngIf="showingBusinesses" [homePage]="true"></app-business-info>
      <!-- <a class="load_more_jobs" href="#" style="display: none;"
        ><strong>Load more listings</strong></a -->
    </div>
  </div>
</div>
