<div id="listing-hours" class="listing-hours widget">
  <h3 class="widget-title">
    Opening Hours
    <div class="pull-right">
      <div class="listing-time closed">
        Closed
      </div>
    </div>
  </h3>
  <div class="listing-hours-inner box-inner">
    <div class="listing-day " *ngFor="let day of days; let i = index">
      <span class="day">{{ day }}</span>
      <div class="bottom-inner">
        <span class="start">{{ open_time[i] }}</span>
        <span class="end">{{ close_time[i] }}</span>
      </div>
    </div>
  </div>
</div>
