.listing-tagline.ellipsize-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.listing-content-custom {
  border-top: 1px solid #ebebeb;
}
.product-address,
.product-address-icon,
.product-phone {
  color: #8d8d8d !important;
}

.business-info-grid-item:hover {
  cursor: pointer;
}
