<div class="job_listings job_listings_cards clearfix row">
  <div
    (click)="openDetailDrawer(business.business.id)"
    (mouseenter)="highlightMarker(business.business.id, true)"
    (mouseleave)="highlightMarker(business.business.id, false)"
    target="_blank"
    class="col-md-2 col-sm-5 col-xs-12 layout-1450 business-info-grid-item"
    *ngFor="let business of businessService.getBusinesses()"
  >
    <app-info-detail [business]="business.business" [isBusinessShowing]="true"></app-info-detail>
  </div>
</div>
