<div class="job_listings job_listings_cards clearfix row">
  <div
    (click)="openDetailDrawer(business.business.id)"
    (mouseenter)="highlightMarker(business.business.id, true)"
    (mouseleave)="highlightMarker(business.business.id, false)"
    target="_blank"
    class="md-clear-3 col-md-4 col-sm-6 col-xs-12 layout-1450 business-info-grid-item"
    *ngFor="let business of businessService.businesses"
    #businessesParentTag
  >
    <div
      class="mobile-icons-size mobile-icons-size job-grid-style job-grid-style-v1 post-635 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_category-shops job_listing_type-full-time job_listing_amenity-accepts-credit-cards job_listing_amenity-bike-parking job_listing_amenity-coupons job_listing_amenity-outdoor-seating job_listing_amenity-parking-street job_listing_amenity-reservations job_listing_amenity-smoking-allowed job_listing_amenity-wheelchair-accesible job_listing_region-new-york job_listing_tag-card-payment job_listing_tag-daily-specials job_listing_tag-hotels job_listing_tag-new-york job_listing_tag-parking-street job_listing_tag-restaurant job-type-full-time job_position_featured"
      itemscope=""
      itemtype="http://schema.org/LocalBusiness"
    >
      <div class="listing-cat-icon hidden">
        <i class="flaticon-shopping-cart"></i>
      </div>

      <div class="listing-image">
        <div class="listing-image-inner">
          <div class="image-wrapper image-loaded">
            <a href="javascript:void(0)">
              <img
                [src]="endpoint + business.business.images[0].file"
                [alt]="business.business.title"
                class="unveil-image"
              />
            </a>
          </div>
          <div class="top-imformation">
            <div class="listing-preview-wrapper pull-left">
              <a href="#preview-635" class="listing-preview" data-id="635"
                ><i class="flaticon-visible"></i><span class="preview-text">Preview</span></a
              >
            </div>
            <div class="listing-bookmark pull-right">
              <a href="#apus-bookmark-add" class="apus-bookmark-not-login" data-id="635">
                <span class="bookmark-text">Save</span>
                <i class="flaticon-like"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-grid">
        <div class="listing-content">
          <h3 class="listing-title">
            <a href="javascript:void(0)">{{ business.business.title }}</a>
          </h3>
          <div class="listing-tagline ellipsize-description">
            {{ business.business.description }}
          </div>
          <div class="listing-tags">
            <div class="listing-category" *ngIf="homePage == true">
              <a
                (click)="searchByTag(business.business.business_type.id); $event.stopPropagation()"
                href="javascript:void(0)"
                ><i class="flaticon-shopping-cart"></i>{{ business.business.business_type.tag }}</a
              >
            </div>
          </div>
        </div>
        <div class="listing-content-custom clearfix" *ngIf="homePage == true">
          <div class="listing-location ellipsize-description">
            <i class="flaticon-placeholder product-address-icon"></i
            ><a
              href="javascript:void(0)"
              [title]="business.business.address"
              class="product-address"
              >{{ business.business.address }}</a
            >
          </div>
          <div class="listing-phone product-phone">
            <i class="flaticon-phone-call"></i>
            {{ business.business.phone }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
